body {
   margin: 0;
   padding: 50px;
   color: #333;
   font: 28px/1.5 sans-serif;
}

.time {
   color: #f44336;
}

.timer {
   color: #2196f3;
}

.time ~ .timer {
   color: #ff9800;
}

section[data-300x300-screen] {
   width: 300px;
   height: 300px;

   margin-bottom: 10px;

   background: #2196f3;
   background-color: ;
}

[data-nm-section^="catalog"] {
   width: 50px;
   height: 50px;
   
   margin-bottom: 10px;

   background: #2196f3;
}